/* The CSS file for the index page. */

body {
  background-color:#f1f1f1;
  font-family:'Tahoma';
  font-size:12px;
}
h1 {
  text-transform:uppercase;
  font-family:'Tahoma';
    letter-spacing:.rem;
}
#container {
  margin: 0 auto;
}
.desc {
  width:30%;
  text-align:justify;
  margin:0 auto;
}
.inner-cont {
  padding:100px;
  margin:0 auto;
  text-align:center;
}
#grid-cont {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  background-color:#c1c1c1;
}
  
.grid-left {
  padding:30px;
}
.grid-center {
  padding:30px;
}
.grid-right {
  padding:30px;
}
