/* The CSS file for the index page. */

body {
  background-color:#fff;
  font-family:'Tahoma';
  font-size:12px;
}
#container {
  margin: 0 auto;
  padding: 50px;
}
.inner-cont {
  background-color:#e1e1e1;
  padding:20px;
}
.inner-left {
  z-index:10;
  position:static;
  left:0;
  top:0;
}
.inner-right {
  z-index:10;
  position:static;
  right:0;
  top:0;
}
