/* The CSS file for the index page. */

body {
  background-color:#fff;
  font-family:'Tahoma';
  font-size:12px;
}
#container {
  margin: 0 auto;
  padding: 50px;
}
.inner-cont {
  background-color:#e1e1e1;
  padding:20px;
}
#grid-cont {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  background-color:#e3e3e3;
}
  
.grid-left {
}
.grid-right {
}
